a.mat-button,
a.mat-button:visited,
a.mat-button:hover {
  color: #bed219;
  text-decoration: none;
}

a.mat-button:hover {
  color: #ffffff;
}

mdb-navbar .navbar.navbar-1 .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}
