<mat-card #mat_card>
  <mat-card-content>
    <mat-icon class="cached" (click)="refresh()">cached</mat-icon>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 home-hub-table">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element" (click)="showDialog(element.mac)" class="hand-pointer"> {{element.name}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="moisture">
        <th mat-header-cell *matHeaderCellDef> Moisture </th>
        <td mat-cell *matCellDef="let element"> {{element.moisture}} </td>
      </ng-container>

      <!-- Last Updated Column -->
      <ng-container matColumnDef="lastUpdate">
        <th mat-header-cell *matHeaderCellDef> Last Update </th>
        <td mat-cell *matCellDef="let element" class="date-font"> {{element.lastUpdate}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"
      (click)="showDialog(row.mac)" class="hand-pointer">
    </tr>
    </table>
  </mat-card-content>  
</mat-card>